<app-layout-principal>
    <app-card-filtro>
        
        <div class="filtroContainer">
            <mat-grid-list cols="3" rowHeight="60px">
                <mat-grid-tile colspan="1">
                    <mat-form-field appearance="legacy" class="inputNome">
                        <mat-label>Pesquisar</mat-label>
                        <input type="search" matInput placeholder="Ex. Maria" #nome [(ngModel)]="pesquisar" (change)="onNomeChange()">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-checkbox [(ngModel)]="checkInitivo" class="widthCheck" (change)="onInativoChange()">Mostrar Inativos</mat-checkbox>
                </mat-grid-tile>
                <mat-grid-tile>
                    <app-button> <a [routerLink]="['/cadastro', tipoPessoa]" class="button-edit">Adicionar novo</a> </app-button>
                </mat-grid-tile>
            </mat-grid-list>
        </div>

    </app-card-filtro>

    <app-card-conteudo>
        <div *ngIf="tipoPessoa=='ALUNO'">
            <table mat-table [dataSource]="pessoas">
                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef> Nome </th>
                    <td mat-cell *matCellDef="let pessoas">{{pessoas.nome | titlecase}} </td>
                </ng-container>

                <ng-container matColumnDef="serie">
                    <th mat-header-cell *matHeaderCellDef> Série </th>
                    <td mat-cell *matCellDef="let pessoas"> {{pessoas.turmas.serie}} </td>
                </ng-container>

                <ng-container matColumnDef="turma">
                    <th mat-header-cell *matHeaderCellDef> Turma </th>
                    <td mat-cell *matCellDef="let pessoas"> {{pessoas.turmas.nomeTurma}} </td>
                </ng-container>

                <ng-container matColumnDef="turno">
                    <th mat-header-cell *matHeaderCellDef> Turno </th>
                    <td mat-cell *matCellDef="let pessoas"> {{pessoas.turmas.turno}} </td>
                </ng-container>

                <ng-container matColumnDef="editar">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let pessoas"> <app-button><a [routerLink]="['/editar', pessoas.id]" class="button-edit">Edit</a></app-button> </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsAlunos"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsAlunos;"></tr>
            </table>
        </div>
        <div *ngIf="tipoPessoa!='ALUNO'">
            <table mat-table [dataSource]="pessoas">
                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef> Nome </th>
                    <td mat-cell *matCellDef="let pessoas">{{pessoas.nome | titlecase}} </td>
                </ng-container>

                <ng-container matColumnDef="telefone">
                    <th mat-header-cell *matHeaderCellDef> Série </th>
                    <td mat-cell *matCellDef="let pessoas"> {{pessoas.telefone}} </td>
                </ng-container>

                <ng-container matColumnDef="editar">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let pessoas"> <app-button><a [routerLink]="['/editar', pessoas.id]" class="button-edit">Edit</a></app-button> </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsAdultos"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsAdultos;"></tr>
            </table>
        </div>
        
        <app-pgempty *ngIf="msg">
            {{ msg }}
        </app-pgempty>
    </app-card-conteudo>
</app-layout-principal>