.primary {
   background-color: #153A84
   }

.danger{
   background-color: #D14B5F
}

.mat-button-base{
   color: white;
   text-transform: uppercase
}

.left{
   margin-left: 8px;
}

:host[ng-reflect-disabled="true"] {
   pointer-events: none ;
}

:host[ng-reflect-disabled="false"] {
   pointer-events: auto ;
}

