  .container{
    display: flex;
    flex-direction: column;
  }
  .botao{
    display: flex;
    justify-content: space-evenly;
  }
  .span{
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
  }
 