::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #153A84;
}

::ng-deep app-button[ng-reflect-full-size="true"] .mat-raised-button {
  left: 12px;

  &.full-size {
    width: auto;
  }
}

::ng-deep app-button.canto .mat-raised-button {
  position: absolute;
  right: 12px;
  bottom: 12px;
}

::ng-deep .mat-select-content,
::ng-deep .mat-option {
  width: 100% !important;
  ;
}