<app-layout-principal>
    <app-card-conteudo class="card">

        <form [formGroup]="form">
            <mat-grid-list cols="4" rowHeight="60px">

                <mat-grid-tile colspan="1">
                    <mat-form-field appearance="legacy" style="margin-bottom: -1.25em; width: 160px;">
                        <mat-label>Nome</mat-label>
                        <input matInput formControlName="nome">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="1">
                    <mat-form-field appearance="legacy" style="margin-bottom: -1.25em; width: 160px;">
                        <mat-label>Ano Letivo</mat-label>
                        <input matInput formControlName="anoLetivo">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="1">
                    <mat-form-field appearance="legacy" style="margin-bottom: -1.25em; width: 160px;">
                        <mat-label>Turno</mat-label>
                        <mat-select formControlName="turno">
                            <mat-option *ngFor="let tipo of tipoTurnos" [value]="tipo">
                                {{tipo | titlecase}}                               
                            </mat-option>
                        </mat-select>
                    </mat-form-field>  
                </mat-grid-tile>
    
                <mat-grid-tile colspan="1">
                    <mat-form-field appearance="legacy" style="margin-bottom: -1.25em; width: 160px;">
                        <mat-label>Serie</mat-label>
                        <mat-select formControlName="serie">
                            <mat-option *ngFor="let tipo of tipoSeries" [value]="tipo">
                                {{tipo | titlecase }}                               
                            </mat-option>
                        </mat-select>
                    </mat-form-field>  
                </mat-grid-tile>


            </mat-grid-list>


        </form>

    <app-button (click)="salvar()">Salvar</app-button>
    </app-card-conteudo>
</app-layout-principal>