<app-layout-principal>
    <app-card-conteudo class="card">

        <mat-grid-list cols="4" rowHeight="20px">
            <mat-grid-tile colspan="4"></mat-grid-tile>
        </mat-grid-list>

        <form [formGroup]="form">
            <div>
                <app-fieldset title="Nome e Ano Letivo">

                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row wrap" fxLayoutAlign="space-around center"
                        fxLayoutAlign.sm="start center" fxLayoutAlign.xs="space-between stretch" fxFlex>

                        <div fxFlex="flex-start">
                            <mat-form-field appearance="legacy" style="width: 260px;"
                                [ngStyle.xs]="{'width': '100%'}" >
                                <mat-label>Nome</mat-label>
                                <input matInput formControlName="nome" placeholder="Ex: A">
                            </mat-form-field>
                        </div>

                        <div fxFlex="flex-start">
                            <mat-form-field appearance="legacy" style="width: 260px;"
                                [ngStyle.xs]="{'width': '100%'}">
                                <mat-label>Ano Letivo</mat-label>
                                <input matInput formControlName="anoLetivo" placeholder="Ex: 2022">
                            </mat-form-field>
                        </div>

                    </div>
                </app-fieldset>

                <mat-grid-list cols="4" rowHeight="20px">
                    <mat-grid-tile colspan="4"></mat-grid-tile>
                </mat-grid-list>

                <app-fieldset title="Turno e Série"> 
                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row wrap" fxLayoutAlign="space-around center"
                        fxLayoutAlign.sm="start center" fxLayoutAlign.xs="space-between stretch" fxFlex>

                        <div fxFlex="flex-start">
                            <mat-form-field appearance="legacy" style="width: 260px;"
                                [ngStyle.xs]="{'width': '100%'}">
                                    <mat-label>Turno</mat-label>
                                        <mat-select formControlName="turno">
                                            <mat-option *ngFor="let tipo of tipoTurnos" [value]="tipo">
                                                    {{tipo | titlecase}}                               
                                            </mat-option>
                                        </mat-select>                                
                            </mat-form-field>
                        </div>

                        <div fxFlex="flex-start">
                            <mat-form-field appearance="legacy" style="width: 260px;"
                                [ngStyle.xs]="{'width': '100%'}">
                                    <mat-label>Serie</mat-label>
                                        <mat-select formControlName="serie">
                                            <mat-option *ngFor="let tipo of tipoSeries" [value]="tipo">
                                                    {{tipo | titlecase }}                               
                                            </mat-option>
                                        </mat-select>                                
                            </mat-form-field>
                        </div>                     
                    
                    </div>
                </app-fieldset>

                <app-button [disabled]="form.invalid"(click)="salvar()" [fullSize]="isSmall" class="canto">Salvar</app-button>
            </div>
        </form>    
    </app-card-conteudo>
</app-layout-principal>