<app-layout-principal>

    <app-card-conteudo>
        <form [formGroup]="cadastroPessoa" (ngSubmit)="onSubmit()">
            <div fxLayout="row">
                <fieldset>
                    <legend>Atribuições</legend>
                    <mat-radio-group formControlName="tipo_pessoa" (change)="changeTipoPessoa($event)">
                        <mat-radio-button *ngFor="let pessoa of tipoPessoa" [value]="pessoa.value">
                            {{ pessoa.nome }}
                        </mat-radio-button>
                    </mat-radio-group>
                </fieldset>
            </div>
            <div fxLayout="row">

                <div fxLayout="row inline" fxLayoutGap="20px">
                    <mat-form-field appearance="legacy" fxFlex="60">
                        <mat-label>Nome</mat-label>
                        <input matInput placeholder="Ex. Maria da Silva" name="nome" formControlName="nome" />
                    </mat-form-field>
                    <mat-form-field appearance="legacy" fxFlex="20">
                        <mat-label>Gênero</mat-label>
                        <mat-select name="generoSelecionado" formControlName="generoSelecionado">
                            <mat-option *ngFor="let genero of generos" [value]="genero">
                                {{genero | titlecase}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="legacy" fxFlex>
                        <mat-label>Nascimento</mat-label>
                        <input matInput [matDatepicker]="picker" name="datanasc" formControlName="datanasc">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div fxLayout="row">
                    <mat-form-field appearance="legacy">
                        <mat-label>CEP</mat-label>
                        <input matInput placeholder="Ex. 58051-830" name="cep" formControlName="cep" />
                    </mat-form-field>
                    <mat-form-field appearance="legacy">
                        <mat-label>Rua</mat-label>
                        <input matInput placeholder="Ex. Rua Cecilia" name="rua" formControlName="rua" />
                    </mat-form-field>
                </div>
                <div fxLayout="row">
                    <mat-form-field appearance="legacy">
                        <mat-label>Número</mat-label>
                        <input matInput placeholder="Ex. 585" name="numero" formControlName="numero" />
                    </mat-form-field>
                    <mat-form-field appearance="legacy">
                        <mat-label>Bairro</mat-label>
                        <input matInput placeholder="Ex. Cid Universitária" name="bairro" formControlName="bairro" />
                    </mat-form-field>
                    <mat-form-field appearance="legacy">
                        <mat-label>Cidade</mat-label>
                        <input matInput placeholder="Ex. João Pessoa" name="cidade" formControlName="cidade" />
                    </mat-form-field>
                    <mat-form-field appearance="legacy">
                        <mat-label>UF</mat-label>
                        <input matInput placeholder="Ex. PB" name="uf" formControlName="uf" />
                    </mat-form-field>
                    <mat-form-field appearance="legacy">
                        <mat-label>Telefone</mat-label>
                        <input matInput type="tel" placeholder="Ex. (83)999993333" name="telefone"
                            formControlName="telefone" />
                    </mat-form-field>
                </div>
                <div fxLayout="row">
                    <mat-form-field appearance="legacy">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Ex. maria@gmail.com" name="email" formControlName="email" />
                    </mat-form-field>
                    <mat-form-field appearance="legacy">
                        <mat-label>Login</mat-label>
                        <input matInput name="login" formControlName="login" />
                    </mat-form-field>
                    <mat-form-field appearance="legacy">
                        <mat-label>Senha</mat-label>
                        <input matInput type="password" name="senha" formControlName="senha" />
                    </mat-form-field>
                    <mat-checkbox name="status" formControlName="status" [(ngModel)]="checked">Ativo</mat-checkbox>
                </div>
            </div>
            <div fxLayout="row" *ngIf="pessoa=='ALUNO'">
                <fieldset>
                    <legend>Aluno</legend>
                    <div fxLayout="row"> 
                        <mat-form-field appearance="legacy">
                            <mat-label>Nome da Mãe</mat-label>
                            <input matInput placeholder="Ex. Maria Jose" name="nomeMae" formControlName="nomeMae" />
                        </mat-form-field>
                        <mat-form-field appearance="legacy">
                            <mat-label>Nome do Pai</mat-label>
                            <input matInput name="nomePai" formControlName="nomePai" />
                        </mat-form-field>
                    </div>
                    <div fxLayout="row">
                        <mat-form-field appearance="legacy">
                            <mat-label>Responsável</mat-label>
                            <input matInput type="text" name="responsavel" formControlName="responsavel">
                            <!-- <mat-autocomplete #autoResp="matAutocomplete">
                                <mat-option *ngFor="let resp of listaResponsaveis | async" [value]="resp.id">
                                  {{resp.nome}}
                                </mat-option>
                              </mat-autocomplete> -->
                        </mat-form-field>
                    </div>
                    <div fxLayout="row">
                        <mat-form-field appearance="legacy">
                            <mat-label>Turma</mat-label>
                            <mat-select name="turmaSelecionada" formControlName="turmaSelecionada">
                                <mat-option *ngFor="let turma of turmas" [value]="turma.id">
                                    {{turma.serie | titlecase}} - Turma {{turma.nome | titlecase}} - {{turma.turno | titlecase}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    
                </fieldset>
            </div>
            <app-button>Salvar</app-button>
        </form>
    </app-card-conteudo>
</app-layout-principal>