<div
  class="logoPrincipal"
  [ngStyle.sm]="centerSmall"
  [ngStyle.xs]="centerSmall"
>
  <img
    src="../../assets/meu boletim.svg"
    [ngStyle.xs]="{ width: '100%' }"
    alt=""
  />
</div>

<div class="fundo" fxHide.xs fxHide.sm>
  <img src="../../assets/fundo.svg" alt="" />
</div>

<div
  class="boxExternaLogin"
  [ngStyle.sm]="centerSmall"
  [ngStyle.xs]="centerXSmall"
>
  <div class="caixaInternaLogin">
    <mat-form-field
      class="example-full-width"
      appearance="outline"
      style="width: 80%"
    >
      <input
        matInput
        placeholder="Login"
        (input)="onLoginChange($event)"
        (keypress)="keypress($event)"
        autocomplete="off"
      />
    </mat-form-field>

    <mat-form-field
      class="example-full-width"
      appearance="outline"
      style="width: 80%"
    >
      <input
        matInput
        placeholder="Senha"
        (input)="onSenhaChange($event)"
        type="password"
        (keypress)="keypress($event)"
        autocomplete="off"
      />
    </mat-form-field>

    <button
      mat-button
      style="background-color: #d14b5f; color: white; width: 80%; height: 55px"
      (click)="login()"
    >
      ENTRAR
    </button>
    <span> {{ erro }} </span>
  </div>
</div>
