<mat-toolbar>
  <span>{{ title }}</span>
</mat-toolbar>

<div
  class="container"
  [ngClass.lt-lg]="{ 'sem-menu': hiddenMenu }"
  [ngStyle.xs]="{ 'min-height': 'calc(100% - 56px)' }"
>
  <div class="esquerda" *ngIf="!hiddenMenu">
    <img
      [class]="isSmall ? 'small' : 'normal'"
      src="../../../assets/logo.svg"
      alt=""
      (click)="navegaHome()"
    />
    <app-menu (navegateEvent)="setTitle($event)"></app-menu>
  </div>

  <div
    class="direita"
    [ngClass.xs]="'direita-small'"
    [ngStyle.sm]="{ width: 'calc(100% - 181px)' }"
    [ngStyle.sm]="
      !hiddenMenu ? { width: 'calc(100% - 181px)' } : { width: '100% ' }
    "
  >
    <ng-content></ng-content>
    <!--ng-content entende que é para trocar o conteúdo aqui-->
  </div>
</div>
