<app-layout-principal>

    <app-card-conteudo>
        <form  [formGroup]="editarPessoa" (ngSubmit)="onSubmit()" class="container">
            <mat-grid-list cols="6" rowHeight="60px">
                <fieldset>
                    <legend>Atribuições</legend>
                    <mat-radio-group formControlName="tipo_pessoa" (change)="changeTipoPessoa($event)">
                        <mat-radio-button *ngFor="let pessoa of tipoPessoa" [value]="pessoa.value" class="radio-button">
                            {{ pessoa.nome }}
                        </mat-radio-button>
                    </mat-radio-group>
                </fieldset>
            </mat-grid-list>
            <div fxLayout="row" class="spaceBetweenContainer">
                <div fxLayout="row">
                <mat-grid-list cols="4" rowHeight="60px">
                    <mat-form-field appearance="legacy" class="spaceBetweenInput widthNome">
                        <mat-label>Nome</mat-label>
                        <input matInput placeholder="Ex. Maria da Silva" name="nome" formControlName="nome"/>
                    </mat-form-field>
                    <mat-form-field appearance="legacy" class="spaceBetweenInput widthGenNasc">
                        <mat-label>Gênero</mat-label>
                        <mat-select name="genero" formControlName="genero">
                            <mat-option *ngFor="let genero of generos" [value]="genero">
                                {{genero | titlecase}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="legacy" class="spaceBetweenInput widthGenNasc">
                        <mat-label>Nascimento</mat-label>
                        <input matInput [matDatepicker]="picker" name="datanasc" formControlName="datanasc">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </mat-grid-list>
                </div>
                <div fxLayout="row">
                    <mat-form-field appearance="legacy" class="spaceBetweenInput widthCep">
                        <mat-label>CEP</mat-label>
                        <input matInput placeholder="Ex. 58051830" name="cep" formControlName="cep" />
                    </mat-form-field>
                    <mat-form-field appearance="legacy" class="spaceBetweenInput widthRua">
                        <mat-label>Rua</mat-label>
                        <input matInput placeholder="Ex. Rua Cecilia" name="rua" formControlName="rua" />
                    </mat-form-field>
                </div>
                <div fxLayout="row">
                    <mat-form-field appearance="legacy" class="spaceBetweenInput widthNum">
                        <mat-label>Número</mat-label>
                        <input matInput placeholder="Ex. 585" name="numero" formControlName="numero" />
                    </mat-form-field>
                    <mat-form-field appearance="legacy" class="spaceBetweenInput widthBairroCid">
                        <mat-label>Bairro</mat-label>
                        <input matInput placeholder="Ex. Cid Universitária" name="bairro" formControlName="bairro" />
                    </mat-form-field>
                    <mat-form-field appearance="legacy" class="spaceBetweenInput widthBairroCid">
                        <mat-label>Cidade</mat-label>
                        <input matInput placeholder="Ex. João Pessoa" name="cidade" formControlName="cidade" />
                    </mat-form-field>
                    <mat-form-field appearance="legacy" class="spaceBetweenInput widthUf">
                        <mat-label>UF</mat-label>
                        <input matInput placeholder="Ex. PB" name="uf" formControlName="uf" />
                    </mat-form-field>
                    <mat-form-field appearance="legacy" class="spaceBetweenInput widthTelefone">
                        <mat-label>Telefone</mat-label>
                        <input matInput type="tel" placeholder="Ex. (83)999993333" name="telefone"
                            formControlName="telefone" />
                    </mat-form-field>
                </div>
                <div fxLayout="row">
                    <mat-form-field appearance="legacy" class="spaceBetweenInput widthEmail">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Ex. maria@gmail.com" name="email" formControlName="email" />
                    </mat-form-field>
                    <mat-form-field appearance="legacy" class="spaceBetweenInput widthLoginSenha">
                        <mat-label>Login</mat-label>
                        <input matInput name="login" formControlName="login" />
                    </mat-form-field>
                    <mat-form-field appearance="legacy" class="spaceBetweenInput widthLoginSenha">
                        <mat-label>Senha</mat-label>
                        <input matInput type="password" name="senha" formControlName="senha" />
                    </mat-form-field>
                    <mat-checkbox name="ativo" formControlName="ativo" [(ngModel)]="checked">Ativo</mat-checkbox>
                </div>
            </div>
            <div fxLayout="row" *ngIf="condicaoPessoa=='ALUNO'">
                <fieldset>
                    <legend>Aluno</legend>
                    <div fxLayout="row">
                        <mat-form-field appearance="legacy" class="spaceBetweenInput">
                            <mat-label>Nome da Mãe</mat-label>
                            <input matInput placeholder="Ex. Maria Jose" name="nome_mae" formControlName="nome_mae" />
                        </mat-form-field>
                        <mat-form-field appearance="legacy" class="spaceBetweenInput">
                            <mat-label>Nome do Pai</mat-label>
                            <input matInput name="nome_pai" formControlName="nome_pai" />
                        </mat-form-field>
                    </div>
                    <div fxLayout="row">
                        <mat-form-field appearance="legacy" class="spaceBetweenInput">
                            <mat-label>Responsável</mat-label>
                            <input matInput type="text" name="responsavel" formControlName="responsavel"
                                [matAutocomplete]="autoResp">
                            <mat-autocomplete #autoResp="matAutocomplete">
                                <mat-option *ngFor="let resp of listaResponsaveis" [value]="resp.nome">
                                    {{resp.nome | titlecase}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row">
                        <mat-form-field appearance="legacy" class="spaceBetweenInput">
                            <mat-label>Turma</mat-label>
                            <mat-select name="turmaSelecionada" formControlName="turmaSelecionada">
                                <mat-option *ngFor="let turma of turmas" [value]="turma.id">
                                    {{turma.serie | titlecase}} - Turma {{turma.nome | titlecase}} - {{turma.turno |
                                    titlecase}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </fieldset>
            </div>

            <div fxLayout="row" *ngIf="condicaoPessoa=='PROFESSOR'">
                <fieldset>
                    <legend>Professor</legend>
                    <div fxLayout="row">
                        <mat-form-field appearance="legacy" class="spaceBetweenInput">
                            <mat-label>Matéria</mat-label>
                            <mat-select name="materia" formControlName="materia">
                                <mat-option *ngFor="let materia of materias" [value]="materia.id">
                                    {{materia.nome | titlecase}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </fieldset>
            </div>
            <app-button class="save-button">Salvar</app-button>
        </form>
    </app-card-conteudo>
</app-layout-principal>