.container {
    padding: 20px;
}
.radio-button{
    margin-right: 10%;
}
.spaceBetweenInput{
    margin-right: 15px;
}

.save-button{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 20px;
}

.spaceBetweenContainer{
    margin-top: 15px;
    margin-bottom: 15px;
}

.widthNome{
    width: 60%;
}

.widthGenNasc{
    width: 15%;
}

.widthCep{
    width: 18%;
}

.widthRua{
    width: 65%;
}

.widthNum{
    width: 10%;
}

.widthBairroCid{
    width: 30%;
}

.widthUf{
    width: 5%;
}

.widthTelefone{
    width: 12%;
}

.widthEmail{
    width: 40%;
}

.widthLoginSenha{
    width: 20%;
}