<app-layout-principal>
    <app-card-filtro>
        <mat-grid-list cols="4" rowHeight="60px">

            <mat-grid-tile colspan="1">
                <mat-form-field appearance="outline" style="margin-bottom: -1.25em; width: 300px;">
                    <mat-label>{{!materiaSelecionada ? 'Adicionar matéria' : 'Editar matéria'}}</mat-label>
                    <input matInput [value]="materiaSelecionada?.nome" (input)="onInput($event)" autocomplete="off">
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile colspan="2"></mat-grid-tile>

            <mat-grid-tile colspan="1">
                <app-button [disabled]="!materiaSelecionada" (click)="salvar()">Salvar
                </app-button>
            </mat-grid-tile>
        </mat-grid-list>
    </app-card-filtro>

    <app-card-conteudo>

        <table mat-table [dataSource]="materias">
            <ng-container matColumnDef="materias">
                <th mat-header-cell *matHeaderCellDef> Matérias </th>
                <td mat-cell *matCellDef="let materia">{{materia.nome}} </td>
            </ng-container>

            <ng-container matColumnDef="acoes">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let materia" style="text-align: right;">
                    <app-button (click)="editar(materia)">
                        <span class="material-icons">
                            edit
                        </span>
                    </app-button>
                    <app-button type="danger" [leftSpace]="true" (click)="excluir(materia)">
                        <span class="material-icons">
                            delete_outline
                        </span>
                    </app-button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <app-pgempty *ngIf="!materias">
            {{"Não foram encontrados resultados"}}
        </app-pgempty>

    </app-card-conteudo>
</app-layout-principal>