<app-layout-principal>
    <app-card-filtro>
        <mat-grid-list cols="4" rowHeight="55px">

            <mat-grid-tile colspan="1">
                <mat-form-field appearance="legacy">
                    <mat-label>Turma</mat-label>
                    <mat-select (selectionChange)="onTurmaChange($event.value)" [value]="turmaSelecionada"
                        [disabled]="disabledTurma">
                        <mat-option *ngFor="let turma of turmas" [value]="turma.id">
                            {{turma.nome | titlecase}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile colspan="1">
                <mat-form-field appearance="legacy">
                    <mat-label>Matéria</mat-label>
                    <mat-select (selectionChange)="onMateriaChange($event.value)" [value]="materiaSelecionada">
                        <mat-option *ngFor="let materia of materias" [value]="materia.id">
                            {{materia.nome | titlecase}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile colspan="1">
                <mat-form-field appearance="legacy">
                    <mat-label>Data</mat-label>
                    <input matInput [matDatepicker]="picker" [value]="dataSelecionada"
                        (dateChange)="onDateChange($event.value)">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile colspan="1">
                <mat-form-field appearance="legacy">
                    <mat-label>Tipo da Atividade</mat-label>
                    <mat-select (selectionChange)="onTipoChange($event.value)" [value]="tipoSelecionado">
                        <mat-option *ngFor="let tipo of tipoAtividades" [value]="tipo">
                            {{tipo | titlecase}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    </app-card-filtro>

    <app-card-conteudo>
        <table *ngIf="turmaSelecionada" mat-table [dataSource]="notas">
            <ng-container matColumnDef="aluno">
                <th mat-header-cell *matHeaderCellDef> Aluno </th>
                <td mat-cell *matCellDef="let nota">{{nota.aluno.nome}}</td>
            </ng-container>

            <ng-container matColumnDef="nota">
                <th mat-header-cell *matHeaderCellDef> Nota </th>
                <td mat-cell *matCellDef="let nota">
                    <mat-form-field appearance="outline" style="margin-bottom: -1.25em; width: 70px;">
                        <input type="number" matInput [value]="nota.nota" (input)="onInputChange($event, nota)">
                    </mat-form-field>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <app-button (click)="salvar()" [disabled]="disableSalvar">Salvar</app-button>
    </app-card-conteudo>

</app-layout-principal>